[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "libnetconf2"]
	path = libnetconf2
	url = https://github.com/CESNET/libnetconf2.git
[submodule "libyang"]
	path = libyang
	url = https://github.com/CESNET/libyang.git
[submodule "Netopeer2"]
	path = Netopeer2
	url = https://github.com/CESNET/Netopeer2.git
[submodule "pyang"]
	path = pyang
	url = https://github.com/mbj4668/pyang.git
[submodule "sysrepo"]
	path = sysrepo
	url = https://github.com/sysrepo/sysrepo.git
